<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="locked/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homepage</title>
</head>
<body>
	<section>

		<div class="container mx-auto" style="padding-top: 100px">
			<div class="card text-center mx-auto" style="width: 340px;">
				<div class="card-body shadow-lg rounded">
					<h5 class="card-title">
						<div class="alert alert-warning d-flex align-items-center"
							role="alert">
							<span><i class="fas fa-exclamation-triangle"></i></span>&nbsp;&nbsp;
							<div> Email verification required</div>
						</div>
					</h5>
					<p class="card-text">Please verify your email to continue</p>
					<a th:href="@{/otp/sendOTP}" class="btn btn-primary">Send OTP</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>