<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style.css}">

<title th:text="${title}">Base HTML</title>
</head>
<body>

	<!-- Navbar -->
	<header class="p-2 bg-dark text-white">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/"
					class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32" role="img"
						aria-label="Bootstrap">
						<use xlink:href="#bootstrap" /></svg>
				</a>

				<ul
					class="nav col-12 col-lg-auto me-lg-auto  justify-content-center mb-md-0">
					<li><a th:href="@{/home}" href="#"
						class="nav-link  text-white h4">SaveIT</a></li>
				</ul>
				<div class="text-end">
					<a type="button" class="btn btn-outline-light me-2"
						th:href="@{/login}">Login</a> <a type="button"
						class="btn btn-primary" style="" th:href="@{/signup}">Sign-up</a>
				</div>
			</div>
		</div>
	</header>

	<!-- Navbar End -->

	<div th:replace="${content}"></div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/script.js}"></script>

</body>
</html>