<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homepage</title>
</head>
<body>
	<section>
		<div class="container"
			style="padding-top: 70px; padding-bottom: 40px;">
			<div class="card mx-auto " style="width: 25rem;">
				<div class="card-body">
					<h1 class="display-6 text-center">Forgot Password</h1>

					<div th:if="${message}" th:classappend="${message.type}"
						class="alert" role="alert">
						<p class="text-center" style="margin-bottom: -3px"
							th:text="${message.content}" />
					</div>

					<form th:action="@{/forgot-password-email}" action="#" method="POST"
						class="row g-1" th:object="${forgot}">
						<div class="col-12">
							<label class="form-label">Registered Email</label> 
							<input type="text" name="email" class="form-control" th:value="${forgot.email}" />
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary">Reset</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>
</body>
</html>